@model List<Album>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Lista kontaktów</h1>
<a class="btn btn-primary" asp-controller="Album" asp-action="Create">Dodaj kontakt</a>
@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Nazwa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Zespol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Czas_trwania)
                </th>
                <th>
                    Akcje
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (Album item in @Model)
            {
                <tr>
                    <td>
                        @item.Nazwa
                    </td>
                    <td>
                        @item.Zespol
                    </td>
                    <td>
                        @item.Czas_trwania.ToString()
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id=@item.Id>Edytuj</a>
                        <a asp-action="Details" asp-route-id=@item.Id>Szczegóły</a>
                        <a asp-action="Delete" asp-route-id=@item.Id>Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}